fastapi==0.134.0
fitz==0.0.1.dev2
langdetect==1.0.9
ollama==0.6.1
openpyxl==3.1.5
opensearch_py==3.1.0
pandas==3.0.1
pdf2image==1.17.0
Pillow==12.1.1
pydantic==2.12.5
PyPDF2==3.0.1
pytesseract==0.3.13
sentence_transformers==5.2.3
